/doc/
/libs/
/lib/
/bin
/.shards/
lucky
.env
/test-project/
node_modules
/tmp/

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
yarn.lock
