/doc/
/libs/
/lib/
/bin/generate_test_project
/bin/*.dwarf
/.shards/
lucky
/test-project/
/node_modules

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
