system_check: crystal script/system_check.cr
<%- if api_only? -%>
web: lucky watch
<%- else -%>
web: lucky watch --reload-browser
<%- if js_bundle_system? == "yarn" -%>
assets: yarn watch
<%- elsif js_bundle_system? == "bun" -%>
assets: bun watch
<%- end -%>
<%- end -%>
