{
  "license": "UNLICENSED",
  "private": true,
  "type": "module",
  "dependencies": {
    "@rails/ujs": "^7.1.0",
    "modern-normalize": "^2.0.0"
  },
  "scripts": {
    "heroku-postbuild": "yarn build",
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview",
    "watch": "vite build --watch"
  },
  "devDependencies": {
    "sass": "^1.69.5",
    "vite": "^5.0.0",
    "vite-plugin-compression": "^0.5.1",
    "vite-plugin-dev-manifest": "^1.2.1"
  }
}