class ApiClient < Lucky::BaseHTTPClient
  def initialize
    super
    headers("Content-Type": "application/json")
  end
  <%- if generate_auth? -%>

  def self.auth(user : User)
    new.headers("Authorization": UserToken.generate(user))
  end
  <%- end -%>
end
