# Load .env file before any other config or app code
require "lucky_env"
LuckyEnv.load?(".env")

# Require your shards here
require "lucky"
require "avram"
require "avram/lucky"
require "carbon"
require "authentic"
<%- if generate_auth? -%>
require "jwt"
<%- end -%>
