require "./app"

if Lucky::Env.development?
  Avram::Migrator::Runner.new.ensure_migrated!
end
Habitat.raise_if_missing_settings!

app_server = AppServer.new
<%- if !proxied_through_browsersync? -%>
puts "Listening on http://#{app_server.host}:#{app_server.port}"
<%- end -%>

Signal::INT.trap do
  app_server.close
end

app_server.listen
