Lucky::Session.configure do |settings|
  settings.key = "_<%= crystal_project_name %>_session"
end

Lucky::CookieJar.configure do |settings|
  settings.on_set do |cookie|
    # If ForceSSLHandler is enabled, only send cookies over HTTPS
    cookie.secure(Lucky::ForceSSLHandler.settings.enabled)

    # You can set other defaults for cookies here. For example:
    #
    #    cookie.expires(1.year.from_now).domain("mydomain.com")
  end
end
