name: Lucky CLI CI

on:
  push:
    branches: [main]
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  specs:
    strategy:
      fail-fast: false
      matrix:
        shard_override_file:
          - shard.override.yml
        crystal_version:
          - 1.4.0
          - latest
        experimental:
          - false
        include:
          - shard_override_file: shard.edge.yml
            crystal_version: latest
            experimental: true
          - shard_override_file: shard.override.yml
            crystal_version: nightly
            experimental: true
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal_version }}
      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Nexploit Repeater
        run: |
          sudo npm install -g @neuralegion/nexploit-cli --unsafe-perm=true
      - name: Run setup script
        run: ./script/setup
      - name: Install Lucky CLI
        run: |
          crystal build src/lucky.cr
          pwd >> $GITHUB_PATH
      - name: Run tests
        run: |
          export SHARDS_OVERRIDE="$(pwd)/${{ matrix.shard_override_file }}"
          crystal spec
        env:
          LUCKY_ENV: test
          NEXPLOIT_TOKEN: ${{ secrets.BRIGHT_API_KEY }}
          RUN_SEC_TESTER_SPECS: 1
