name: Lucky CLI Weekly CI

on:
  schedule:
    - cron: "0 1 * * MON"
  workflow_dispatch:

env:
  FORCE_COLOR: 1
  EARTHLY_CI: 'true'
  EARTHLY_ALLOW_PRIVILEGED: 'true'

jobs:
  integration-specs:
    runs-on: ubuntu-latest
    steps:
      - uses: earthly/actions-setup@v1
        with:
          version: v0.8.0
      - uses: actions/checkout@v5
      - name: Run build
        run: |
          earthly +gh-action-weekly

  e2e-security-specs:
    runs-on: ubuntu-latest
    steps:
      - uses: earthly/actions-setup@v1
        with:
          version: v0.8.0
      - uses: actions/checkout@v5
      - name: Run build
        run: |
          earthly +gh-action-e2e-security
        env:
          EARTHLY_SECRETS: "BRIGHT_TOKEN=${{ secrets.BRIGHT_API_KEY }},BRIGHT_PROJECT_ID=${{ secrets.BRIGHT_PROJECT_ID }}"
          EARTHLY_BUILD_ARGS: "github_ref=${{ github.ref }},github_sha=${{ github.sha }},github_run_id=${{ github.run_id }}"
